<h2><%= current_user.first_name  %> <%= current_user.first_name  %>´s Profile</h2>

<div class="container">
  <section class="mx-auto my-5" style="max-width: 23rem;">

    <div class="card card-form mt-2 mb-4">
      <div class="card-body rounded-top blue darken-4">
        <h3 class="font-weight-bold text-center text-uppercase text-white my-4">Edit</h3>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "pb-5 px-2" }) do |f| %>
          <%= f.error_notification %>

          <div class="d-flex justify-content-start align-items-center mb-4">
            <i class="far fa-user fa-lg text-white fa-fw me-3"></i>
            <div class="form-outline form-white w-100">
              <%= f.input :first_name, required: false, autofocus: true, input_html: { class: "form-control", autocomplete: "first-name" }, label_html: { class: "form-label" } %>
            </div>
          </div>

          <div class="d-flex justify-content-start align-items-center mb-4">
            <i class="far fa-hand-point-right fa-lg text-white fa-fw me-3"></i>
            <div class="form-outline form-white w-100">
              <%= f.input :last_name, required: false, input_html: { class: "form-control", autocomplete: "last-name" }, label_html: { class: "form-label" } %>
            </div>
          </div>

          <div class="d-flex justify-content-start align-items-center mb-4">
            <i class="far fa-envelope fa-lg text-white fa-fw me-3"></i>
            <div class="form-outline form-white w-100">
              <%= f.input :email, required: true, input_html: { class: "form-control", autocomplete: "email" }, label_html: { class: "form-label" } %>
            </div>
          </div>

          <div class="d-flex justify-content-start align-items-center pb-3">
            <i class="far fa-star fa-lg text-white fa-fw me-3"></i>
            <div class="form-outline form-white w-100">
              <%= f.input :current_password, required: true, hint: ("we need your current password to confirm your changes"), input_html: { class: "form-control", autocomplete: "current-password" }, label_html: { class: "form-label" } %>
            </div>
          </div>

          <div class="d-flex justify-content-start align-items-center pb-3">
            <i class="far fa-star fa-lg text-white fa-fw me-3"></i>
            <div class="form-outline form-white w-100">
              <%= f.input :password, required: false, hint: ("At least 6 characters" if @minimum_password_length), input_html: { class: "form-control", autocomplete: "new-password" }, label_html: { class: "form-label" } %>
            </div>
          </div>

          <div class="d-flex justify-content-start align-items-center pb-3">
            <i class="far fa-star fa-lg text-white fa-fw me-3"></i>
            <div class="form-outline form-white w-100">
              <%= f.input :password_confirmation, required: true, hint: ("At least 6 characters" if @minimum_password_length), input_html: { class: "form-control", autocomplete: "new-password" }, label_html: { class: "form-label" } %>
            </div>
          </div>

          <div class="d-flex justify-content-start align-items-center mb-4">
            <i class="far fa-user fa-lg text-white fa-fw me-3"></i>
            <div class="form-outline form-white w-100">
              <%= f.input :biography, required: false, autofocus: true, input_html: { class: "form-control", autocomplete: "Tell us about you" }, label_html: { class: "form-label" } %>
            </div>
          </div>

      </div>


      <div class="card card-form-2 mb-0 z-depth-0">
        <div class="card-body">

          <div class="d-flex justify-content-center align-items-center pb-3">
              <%= f.button :submit, "Update my Profile", class: "btn btn-outline-danger btn-rounded btn-block my-4 z-depth-0" %>
          </div>

          <div class="d-flex justify-content-center align-items-center pb-3">
            <p>Wish to delete your account?
            </p>
          </div>

          <div class="d-flex justify-content-center align-items-center pb-3">
            <%= link_to "Delete my account", registration_path(resource_name), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: 'btn btn-primary' %>
          </div>

        </div>
      <% end %>
      </div>
    </div>
  </section>
</div>
