<div class="container">
  <h3 class="my-3">Book <strong><%= @surfboard.name %></strong> - <%= @surfboard.price %>€</h3>

  <%= simple_form_for [@surfboard, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit %>
  <% end %>

</div>
