<div class="container">
  <h3 class="mt-3">Book <strong><%= @surfboard.name %></strong></h3>

  <%= simple_form_for [@surfboard, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", target: "pricer.start_date", action: "change->pricer#calculate" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker", target: "pricer.end_date", action: "change->pricer#calculate" } } %>
    <hr>
    <p class="my-3" data-pricer-target="total_price" ></p>
    <%= button_tag(type: 'submit', class: 'btn btn-success text-end') do %>
    <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"> Book Board</i>
    <% end %>
  <% end %>


</div>
