<H1> Surfboards in area</h1>

<div class="countainer p-5">
  <div class="row">
      <% @surfboards.each do |surfboard| %>
        <div class="col-sm-6">
          <div class="card-trip">
            <% if surfboard.photo %>
             <%= image_tag surfboard.photo, class:"photo-img" %>
           <% elsif surfboard.pictures.length > 0 %>
            <%= cl_image_tag surfboard.pictures[0].key, class:"photo-img" %>
          <% end %>
              <div class="card-trip-infos">
                <h2><%= link_to surfboard.name, surfboard_path(surfboard) %></h2>
                <p><%= link_to surfboard.details, surfboard_path(surfboard) %></p>
              </div>
              <h2 class="card-trip-pricing"><%= surfboard.price %>£</h2>
          </div>
        </div>
    <% end %>
  </div>
</div>
