<div class="countainer p-5">

  <div class="row">
      <div class="col-lg">
        <div class="card-trip">
          <%= image_tag @surfboard.photo, class:"photo-img" %>
            <div class="card-trip-infos">
              <h2><%= @surfboard.name %></h2>
              <p><%= @surfboard.details %></p>
            </div>
            <h2 class="card-trip-pricing"><%= @surfboard.price %>£</h2>
        </div>
      </div>
  </div>
        <div class="mx-auto" style="width: 98%; height: 400px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
</div>
