<div class="countainer p-5">


  <div class="container d-flex m-3">
    <div class="row">
        <div class="col-lg">
          <div class="card-trip">
               <% if @surfboard.photo %>
                <%= image_tag @surfboard.photo, class:"photo-img" %>
              <% elsif @surfboard.pictures.length > 0 %>
                <% @surfboard.pictures.each do |picture| %>
                  <%= cl_image_tag picture.key, class: "photo-img" %>
                <% end %>
              <% end %>
            <div class="card-trip-infos">
              <h2><%= @surfboard.name %></h2>
              <p><%= @surfboard.details %></p>
            </div>
            <h2 class="card-trip-pricing"><%= @surfboard.price %>£</h2>
          </div>
        </div>
    </div>

    <% if @surfboard.latitude && @surfboard.longitude%>
      <div class="mx-auto" style="width: 30%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <% else %>
      <%= @surfboard.address %>
    <% end %>
  </div>

  <%= render "surfboards/bookingform" %>
</div>
